# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/
.venv/

# VS Code or IntelliJ (optional)
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Django-specific
db.sqlite3
*.migrations/
media/
staticfiles/

# Environment variables / secrets
.env